.itemData {
  color: #677580;
	float: left;
	height: 100px;
	width: 100%;
	line-height: 100px;
	padding: 0 20px;
  border-bottom: 1px solid #e1e8ee;
}


.addTournament {
  color: #677580 !important;
  font-size: 1em  !important;
}

.addTournament.addButton{
  font-family: "FontAwesome";
  font-size: 6em !important;
  text-align: center;
  padding-top: 0.7em;
}
