.itemData {
  color: #677580;
	float: left;
	height: 50px;
	width: 100%;
  font-size: 1em;
	line-height: 50px;
	padding: 0 20px;
  border-bottom: 1px solid #e1e8ee;
}


.addTournament {
  color: #677580 !important;
  font-size: 1em  !important;
}

.addTournament.addButton{
  font-family: "FontAwesome";
  font-size: 6em !important;
  text-align: center;
  padding-top: 0.7em;
}


.addTournament.backButton{
  font-family: "FontAwesome";
  font-size: 6em !important;
  text-align: center;
  padding-top: 1em;
}

.editTournament {
  color: #677580 !important;
  font-size: 1em  !important;
}

.editTournament.name {
  color: #fff !important;
  height: 50px  !important;
  width: 100% !important;
  font-size: 1.2em;
  line-height: 50px;
  padding: 0 20px;
  background-color: #8999a7;
}

.editTournament.addButton{
  font-family: "FontAwesome";
  font-size: 3em !important;
  text-align: center;
  padding-top: 0.4em;
  padding-left: 0.3em;
}


.editTournament.addParticipant.container {
  background-color: #fff;
  border-bottom: 1px solid #677580;
  font-size: 1.2em !important;
}

.editTournament.participantItem.challengeButton{
  font-family: "FontAwesome";
  text-align: center;
  padding-top: 1.5em;
}

.editTournament.participantItem.removeButton{
  font-family: "FontAwesome";
  text-align: center;
  padding-top: 1.5em;
  color: "red";
}
